*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}







/* top player section styles starts */


.top-container{
    background-color: #F3F1FF;
    padding:  2.5rem 17rem;
    padding-bottom: 0;
}

.top-player{
    padding: 1.88rem 2rem;
    background-color: #fff;
    /* width: 54rem; */
    border-radius: 10px;
}

.section-title{
    color: #562EFF;
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1.8rem;
    margin-top: 2.5rem;
    background-color: #fff;
    

}

.players>div{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.players>div img{
    height: 3.5rem;
    width: 3.5rem;
    
}

hr{
    border: 1px solid #d1d1d1;
    margin-top: 1.5rem;
}

/* top player section styles ends */
/* ------------------------------------------------------------------- */
/* top blog section styles starts */



.blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
}

.blog-info img{
    width: 10rem;
    height: 6rem;
}
.blog-info{
    display: flex;
    gap: 1rem;
}



.blog-title-info h3{
    color: #000;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 2.125rem; /* 170% */
}

.top-blog>h3{
    margin: 1.8rem 0;
}

.blog-author{
    margin-top: 1rem;
    color: #d1d1d1;
}

.blog-author a{
    text-decoration: none;
    color: #562eff;

}


/* top blog section styles ends*/
/* ----------------------------------------------------------------------- */
/*  leatest course section styles starts */
.leatest-courses{
  padding-top:  1.3rem;
}
.courses-info-container{
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 10px;
}


.courses-info-container>div{
    background-color: #fff;
    padding: 1.8rem;
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    justify-content: space-between;
}

.courses-info-container>h3{
    color: #562EFF;
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: .69rem;
}


.course-detail{
    height: 16rem;
    width: 15rem;
    border-radius: 10px;
    padding: .6rem;
}
.course-detail .img{
    height: 6.5rem;
    width: 14rem;
    margin-bottom: 1rem;
}
.course-detail img{
    width: .7rem;
    height: .7rem;
}
.course-detail h3{
    color: #1E1E1E;
font-size: 1.25213rem;
margin-bottom: .4rem;

}
.course-detail p{
    margin-bottom: .5rem;
    color: #ED6B4F;
    font-size: 0.91819rem;
}



.courses-info-container div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}


.course-detail button{
    width: 5.92663rem;
height: 1.83644rem;
flex-shrink: 0;
border-radius: 0.91819rem;
background: #FEE5DF;
border: none;
color: #ED6B4F;
font-family: Open Sans;
font-size: 0.91819rem;
font-style: normal;
font-weight: 600;
line-height: normal;
position: relative;
left: 3.9rem;


}
.course-detail button img{
    width: 1.25213rem;
height: 1.25213rem;
flex-shrink: 0;
position: relative;
top: 2.8px;
right: 3px;
}




