*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}







/* top player section styles starts */

.main{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}
.top-container{
    background-color: #F3F1FF;
    padding:  2.5rem 17rem;
}

.top-player{
    padding: 1.88rem 2rem;
    background-color: #fff;
    /* width: 54rem; */
    border-radius: 10px;
}

.section-title{
    color: #562EFF;
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1.8rem;
    margin-top: 2.5rem;
    background-color: #fff;
    

}

.players>div{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.players>div img{
    height: 3.5rem;
    width: 3.5rem;
    
}

hr{
    border: 1px solid #d1d1d1;
    margin-top: 1.5rem;
}

/* top player section styles ends */
/* ------------------------------------------------------------------- */
/* top blog section styles starts */



.blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
}

.blog-info img{
    width: 14rem;
    height: 7rem;
}
.blog-info{
    display: flex;
    gap: 1rem;
}



.blog-title-info h3{
    color: #000;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 2.125rem; /* 170% */
}

.top-blog>h3{
    margin: 1.8rem 0;
}

.blog-author{
    margin-top: 1rem;
    color: #d1d1d1;
}

.blog-author a{
    text-decoration: none;
    color: #562eff;

}